<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Добавление продукции</title>
</head>

<body>
    <h1>Добавление продукции:</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('add_product') }}" method="post">
        <label>Название продукта:</label>
        <input type="text" name="product_name" value="{{ form.product_name }}"><br>
        <label>Цена продукта:</label>
<!--        <input type="text" name="product_price" value="{{ form.product_price }}"><br>-->
        <input type="numeric" id="product_price" name="product_price" required min="0"><br>
        <label>Производитель:</label>
        <select name="manufacturer_id">
            {% for manufacturer in manufacturers %}
            <option value="{{ manufacturer.manufacturer_id }}" {% if manufacturer.manufacturer_id == form.manufacturer_id %}selected{% endif %}>{{ manufacturer.manufacturer_id }} - {{ manufacturer.manufacturer_name }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Добавить">
    </form>
    <br>
    <a href="{{ url_for('view_products') }}">Назад к списку продукции</a>
</body>

</html>
