<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Просмотр производителей</title>
</head>

<body>
    <a href="{{ url_for('index') }}">Назад в меню</a>
    <h1>Производители:</h1>
    <form action="{{ url_for('view_manufacturers') }}" method="get">
        <input type="text" name="search" placeholder="Поиск по названию">
        <input type="submit" value="Найти">
        <br>
        <label>Сортировать по:</label>
        <select name="sort_by">
            <option value="">ID производителя (по умолчанию)</option>
            <option value="manufacturer_name" {% if sort_by=='manufacturer_name' %}selected{% endif %}>Названию
                производителя</option>
        </select>
        <input type="submit" value="Применить">
        <br>
        <a href="{{ url_for('add_manufacturer') }}">Добавить производителя</a>
    </form>
    <table>
        {% if manufacturers %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% if search_term %}
            <p>Результаты поиска для "{{ search_term }}":</p>
            {% endif %}
            {% for manufacturer in manufacturers %}
            <tr>
                <td>{{ manufacturer.manufacturer_id }}</td>
                <td>
                    {% if manufacturer.edit %}
                    <input type="text" name="manufacturer_name" value="{{ manufacturer.manufacturer_name }}">
                    {% else %}
                    {{ manufacturer.manufacturer_name }}
                    {% endif %}
                </td>
                <td>
                    <button type="button" onclick="deleteManufacturer({{ manufacturer.manufacturer_id }})">Удалить</button>
                </td>
            </tr>
            {% endfor %}
            {% if manufacturers|length == 0 %}
            <tr>
                <td colspan="3">Ничего не найдено.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Назад в меню</a>

<script>
function deleteManufacturer(manufacturer_id) {
    if (confirm('Вы уверены, что хотите удалить этого производителя?')) {
        fetch(`/delete_manufacturer/${manufacturer_id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(response.statusText);
            }
            window.location.reload();
        })
        .catch(error => alert(`Произошла ошибка: ${error}`));
    }
}
</script>