<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Просмотр продукции</title>
</head>

<body>
    <a href="{{ url_for('index') }}">Назад в меню</a>
    <h1>Продукция:</h1>
    <form action="{{ url_for('view_products') }}" method="get">
        <input type="text" name="search" placeholder="Поиск по названию">
        <input type="submit" value="Найти">
        <br>
        <br>
        <label>Сортировать по:</label>
        <select name="sort_by">
            <option value="">ID продукции (по умолчанию)</option>
            <option value="product_name" {% if sort_by=='product_name' %}selected{% endif %}>Названию продукции</option>
            <option value="manufacturer_name" {% if sort_by=='manufacturer_name' %}selected{% endif %}>Имени
                производителя</option>
            <option value="product_price_asc" {% if sort_by=='product_price_asc' %}selected{% endif %}>Цене (по
                возрастанию)</option>
            <option value="product_price_desc" {% if sort_by=='product_price_desc' %}selected{% endif %}>Цене (по
                убыванию)</option>
        </select>
        <input type="submit" value="Применить">
        <br>
        <br>
        <a href="{{ url_for('add_product') }}">Добавить продукцию</a>
        <br>
        <br>
    </form>
    <table>
        {% if products %}
        <thead>
            <tr>
                <th style="border: 4px solid white;">ID</th>
                <th style="border: 3px solid white;">ID и Имя производителя</th>
                <th style="border: 4px solid white;">Название</th>
                <th style="border: 4px solid white;">Цена</th>
                <th style="border: 4px solid white;">Действия</th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% if search_term %}
            <p>Результаты поиска для "{{ search_term }}":</p>
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.manufacturer.manufacturer_name }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_price }}</td>
<!--                <td>{{ product.wrapper.color.name }}</td>-->
            </tr>
            {% else %}
            <p>Ничего не найдено.</p>
            <a href="{{ url_for('view_products') }}">Показать всю продукцию</a>
            {% endfor %}
            {% else %}
            {% if products %}
            {% for product in products %}
            <tr>
                <td style="border: 4px solid white;">{{ product.product_id }}</td>
                <td style="border: 4px solid white;">{{ product.manufacturer_id }} - {{ product.manufacturer.manufacturer_name }}</td>
                <td style="border: 4px solid white;">{{ product.product_name }}</td>
                <td style="border: 4px solid white;">{{ product.product_price }}</td>
                <td style="border: 4px solid white;">
                    <button type="button" onclick="deleteProduct({{ product.product_id }})">Удалить</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">Ничего не найдено.</td>
            </tr>
            {% endif %}
            {% endif %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Назад в меню</a>

<script>
function deleteProduct(product_id) {
    if (confirm('Вы уверены, что хотите удалить этот продукт?')) {
        fetch(`/delete_product/${product_id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(response.statusText);
            }
            window.location.reload();
        })
        .catch(error => alert(`Произошла ошибка: ${error}`));
    }
}
</script>